.order_cont {
  display: flex;
  flex-direction: column;
  padding: 1px 0px;
  position: relative;
  z-index: 1;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(151, 151, 151, 0.18);
  flex-shrink: 0;
}
.orderrow-hover {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 85%;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(
    to right,
    rgba(245, 248, 250, 0) 0%,
    rgba(65, 63, 94, 0.9) 10%
  );
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 0.2s ease 0s;
  -webkit-box-pack: end;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(155, 155, 155);
  cursor: default;
  font-weight: 600 !important;
}

.order:hover .orderrow-hover {
  right: 0px;
  opacity: 1;
  z-index: 2;
}

@media only screen and (min-width: 1800px) and (max-width: 1819px) {
       .OrderhistorySize{
         font-size: 9px;
       }
}

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .p-3{
    max-width: 350px;
       }
   .OrderhistorySize{
         font-size: 8px;
       }
       .TradeHistorySize{
        font-size: 12px;
         
      }
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .p-3{
    max-width: 320px;
       }
       .historyorder{
         font-size: 10px;
         width: 20%;
       }
       .OrderHistoryHedding{
          font-size: 8px;
         width: 25%;
       }
       .TradeHistorySize{
        font-size: 10px;
          /* width: 20%; */
      }
      .OrderhistorySize{
        font-size:7.5px;
        padding: 0px !important;
       
      }
      .img{
        width: 10px
      }
      .OrderHistoryContainer{
        height: 330px;
      }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .p-3{
    max-width: 330px;
       }
       .OrderhistorySize{
        font-size: 8.5px;
      }
      .TradeHistorySize{
        font-size: 12px;
      }
      .historyorder{
        font-size: 12px;
    }
    .OrderHistoryHedding{
      font-size: 8px;
   
   }
   .thumb--right{
    right: 32px;
  }
  .thumb--left{
    left: 32px;
  }
 
}
@media only screen and (min-width: 992px) and (max-width: 1000px) {
  .p-3{
    max-width:310px;
       }

       .thumb--right{
         right: 44px;
       }
       .thumb--left{
         left: 44px;
       }
      

}




@media only screen and (min-width: 768px) and (max-width: 991px) {
  .p-3{
    max-width:500px;
       }
       .OrderhistorySize{
        font-size: 23px;
      }
      .order{
        background: none !important;
      }

}
@media only screen and (min-width: 500px) and (max-width: 875px) {
  .historyorder{
      font-size: 12px;
  }
  .OrderhistorySize{
    font-size: 18px;
  }
  .p-3{
    max-width:580px;
       }
}

@media only screen and (min-width: 400px) and (max-width: 693px) {
  .TradeHistorySize{
    font-size: 8.5px;
      
  }
  .OrderhistorySize{
    font-size: 13px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .p-3{
    max-width:345px;
       }
       .order{
         background: none !important;
       }
}





.order_cont:hover{
  transform: scaleY(1.1);
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2.5px 1px rgba(0, 0, 0, 0.06),
  0 2.3px 7.9px rgba(0, 0, 0, 0.072); */
  box-shadow: 0 -5px 3px -3px gray, 0 5px 3px -3px gray;
  background-color: rgb(230, 255, 245);
  font-weight: bold;
}



.zoom:hover{
  transform: scaleY(1.1);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 2.5px 1px rgba(0, 0, 0, 0.06),
  0 2.3px 7.9px rgba(0, 0, 0, 0.072);
  /* 0 4.8px 3.4px rgba(0, 0, 0, 0.086),
  0 10px 8px rgba(0, 0, 0, 0.12); */
  overflow-y: hidden;
  
}

